@page "/stripeC"
<h4>Add Credit Card</h4>
<Component1></Component1>
@*<section class="form">
	<div>
		<div class="form-image">
			<svg viewBox="0 0 230.1 32.4">
				<style type="text/css">
					.st0 {
						fill: #434A54;
					}

					.st1 {
						fill: #265697;
					}

					.st2 {
						fill: #DFAC16;
					}

					.st3 {
						fill: #BF3126;
					}

					.st4 {
						fill: #FFFFFF;
					}

					.st5 {
						fill: #F6F6F6;
					}

					.st6 {
						fill: #D97B16;
					}

					.st7 {
						fill: #306FC5;
					}
				</style>
				<g id="Shape_1">
					<g>
						<path class="st0" d="M226.4,0.3h-43.8c-2.1,0-3.8,1.7-3.8,3.7v3h51.3V4C230.1,1.9,228.5,0.3,226.4,0.3z M178.9,28.5
			c0,2.1,1.7,3.7,3.8,3.7h43.8c2.1,0,3.8-1.7,3.8-3.7V13.4h-51.3V28.5z M217,18.5h7.5v2.4H217V18.5z M184.6,18.5h16.6v2.4h-16.6
			V18.5z M184.6,23.4h9v2.4h-9V23.4z" />
					</g>
				</g>
				<g id="Page-1">
					<g id="Master" transform="translate(-1.000000, 0.000000)">
						<path id="Rectangle-1" class="st1" d="M108.6,0C106,0,78.5,0,63.2,0c-1.3,0-2.6,1.3-2.6,2.6v26c0,2.6,1.3,3.9,3.9,3.9
			c14.5,0,41.5,0,44.1,0c2.6,0,3.9-1.3,3.9-3.9V3.9C112.5,1.3,111.2,0,108.6,0z" />
						<path id="path2268" class="st2" d="M109.1,16.4c0,7.5-6,13.7-13.5,13.7c-7.5,0-13.5-6.1-13.5-13.6v0c0-7.5,6-13.7,13.5-13.7
			C103.1,2.7,109.1,8.8,109.1,16.4L109.1,16.4C109.1,16.4,109.1,16.4,109.1,16.4L109.1,16.4L109.1,16.4z" />
						<path id="path1350" class="st3" d="M77.4,2.7C70,2.8,64,8.9,64,16.4C64,23.9,70,30,77.5,30c3.5,0,6.7-1.3,9.1-3.6c0,0,0,0,0,0h0
			c0.5-0.5,0.9-0.9,1.4-1.5h-2.8c-0.4-0.5-0.7-0.9-1-1.4H89c0.3-0.5,0.6-1,0.8-1.5h-6.3c-0.2-0.5-0.4-0.9-0.6-1.4h7.5
			c0.5-1.4,0.7-2.8,0.7-4.3c0-1-0.1-2-0.3-2.9h-8.3c0.1-0.5,0.2-1,0.4-1.4h7.5c-0.2-0.5-0.4-1-0.6-1.5h-6.3c0.2-0.5,0.5-1,0.8-1.4
			h4.8c-0.3-0.5-0.7-1-1-1.5h-2.7c0.4-0.5,0.9-0.9,1.4-1.4C84.2,4.1,81,2.7,77.4,2.7C77.5,2.7,77.4,2.7,77.4,2.7
			C77.4,2.7,77.4,2.7,77.4,2.7L77.4,2.7L77.4,2.7z" />
						<path id="path4157" class="st4" d="M82.4,19.9l0.2-1.2c-0.1,0-0.2,0-0.4,0c-0.5,0-0.6-0.3-0.5-0.5l0.4-2.5h0.8l0.2-1.4h-0.7
			l0.1-0.8H81c0,0-0.8,4.8-0.8,5.4c0,0.9,0.5,1.2,1.1,1.2C81.8,20,82.2,19.9,82.4,19.9C82.4,19.9,82.2,19.9,82.4,19.9L82.4,19.9
			L82.4,19.9z" />
						<path id="path4155" class="st4" d="M82.8,17.5c0,2.1,1.3,2.5,2.5,2.5c1.1,0,1.5-0.2,1.5-0.2l0.3-1.4c0,0-0.8,0.4-1.5,0.4
			c-1.5,0-1.3-1.2-1.3-1.2h2.9c0,0,0.2-0.9,0.2-1.3c0-1-0.5-2.1-2.1-2.1C83.9,14.2,82.8,15.7,82.8,17.5
			C82.8,17.5,82.8,15.7,82.8,17.5L82.8,17.5L82.8,17.5z M85.3,15.5c0.8,0,0.7,0.9,0.7,1h-1.6C84.4,16.4,84.6,15.5,85.3,15.5
			C85.3,15.5,84.6,15.5,85.3,15.5L85.3,15.5L85.3,15.5z" />
						<path id="path4151" class="st4" d="M94.4,19.9l0.3-1.6c0,0-0.7,0.4-1.2,0.4c-1,0-1.4-0.8-1.4-1.6c0-1.7,0.9-2.7,1.9-2.7
			c0.7,0,1.3,0.4,1.3,0.4l0.2-1.5c0,0-0.9-0.4-1.6-0.4c-1.7,0-3.3,1.5-3.3,4.2c0,1.8,0.9,3,2.6,3C93.7,20.1,94.4,19.9,94.4,19.9
			L94.4,19.9L94.4,19.9L94.4,19.9z" />
						<path id="path4149" class="st4" d="M74.4,14.2c-1,0-1.7,0.3-1.7,0.3l-0.2,1.3c0,0,0.6-0.3,1.6-0.3c0.5,0,0.9,0.1,0.9,0.5
			c0,0.3,0,0.4,0,0.4s-0.4,0-0.6,0c-1.2,0-2.6,0.5-2.6,2.2c0,1.3,0.9,1.6,1.4,1.6c1,0,1.5-0.7,1.5-0.7l0,0.6h1.3l0.6-4
			C76.4,14.2,75,14.2,74.4,14.2L74.4,14.2L74.4,14.2L74.4,14.2z M74.8,17.4c0,0.2-0.2,1.4-1,1.4c-0.4,0-0.6-0.3-0.6-0.5
			c0-0.4,0.2-0.9,1.3-0.9C74.7,17.4,74.7,17.4,74.8,17.4C74.8,17.4,74.7,17.4,74.8,17.4L74.8,17.4L74.8,17.4z" />
						<path id="path4145" class="st4" d="M77.8,20c0.3,0,2.2,0.1,2.2-1.8c0-1.8-1.7-1.4-1.7-2.2c0-0.4,0.3-0.5,0.8-0.5
			c0.2,0,1,0.1,1,0.1l0.2-1.3c0,0-0.5-0.1-1.3-0.1c-1.1,0-2.1,0.4-2.1,1.9c0,1.7,1.8,1.5,1.8,2.2c0,0.5-0.5,0.5-0.9,0.5
			c-0.7,0-1.3-0.2-1.3-0.2l-0.2,1.3C76.2,19.8,76.6,20,77.8,20C77.8,20,76.6,20,77.8,20L77.8,20L77.8,20z" />
						<path id="path4139" class="st4" d="M106.4,13L106,15c0,0-0.5-0.8-1.4-0.8c-1.3,0-2.4,1.6-2.4,3.5c0,1.2,0.6,2.4,1.8,2.4
			c0.9,0,1.3-0.6,1.3-0.6l-0.1,0.5h1.4l1.1-6.9L106.4,13L106.4,13L106.4,13L106.4,13z M105.7,16.8c0,0.8-0.4,1.8-1.2,1.8
			c-0.5,0-0.8-0.4-0.8-1.1c0-1.1,0.5-1.9,1.1-1.9C105.4,15.6,105.7,16,105.7,16.8C105.7,16.8,105.7,16,105.7,16.8L105.7,16.8
			L105.7,16.8z" />
						<path id="path4133" class="st4" d="M66.7,19.9l0.9-5.2l0.1,5.2h1l1.8-5.2l-0.8,5.2h1.5l1.1-6.9H70l-1.4,4.2L68.5,13h-2.1l-1.2,6.9
			H66.7L66.7,19.9L66.7,19.9L66.7,19.9z" />
						<path id="path4131" class="st4" d="M88.8,19.9c0.4-2.4,0.5-4.4,1.5-4c0.2-0.9,0.3-1.3,0.5-1.7c0,0-0.1,0-0.3,0
			c-0.6,0-1.1,0.9-1.1,0.9l0.1-0.8h-1.3l-0.9,5.6H88.8L88.8,19.9L88.8,19.9L88.8,19.9z" />
						<path id="path4149_1_" class="st4" d="M97.8,14.2c-1,0-1.7,0.3-1.7,0.3l-0.2,1.3c0,0,0.6-0.3,1.6-0.3c0.5,0,0.9,0.1,0.9,0.5
			c0,0.3,0,0.4,0,0.4s-0.4,0-0.6,0c-1.2,0-2.5,0.5-2.5,2.2c0,1.3,0.9,1.6,1.4,1.6c1,0,1.5-0.7,1.5-0.7l0,0.6h1.3l0.6-4
			C99.7,14.2,98.3,14.2,97.8,14.2L97.8,14.2L97.8,14.2L97.8,14.2z M98.1,17.4c0,0.2-0.2,1.4-1,1.4c-0.4,0-0.6-0.3-0.6-0.5
			c0-0.4,0.2-0.9,1.3-0.9C98,17.4,98,17.4,98.1,17.4C98.1,17.4,98,17.4,98.1,17.4L98.1,17.4L98.1,17.4z" />
						<path id="path4131_1_" class="st4" d="M100.9,19.9c0.4-2.4,0.5-4.4,1.5-4c0.2-0.9,0.3-1.3,0.5-1.7c0,0-0.1,0-0.3,0
			c-0.6,0-1.1,0.9-1.1,0.9l0.1-0.8h-1.3l-0.9,5.6H100.9L100.9,19.9L100.9,19.9L100.9,19.9z" />
					</g>
				</g>
				<g id="Page-1_1_">
					<g id="Visa">
						<rect id="Rectangle-20" x="0" y="2.9" class="st5" width="51.9" height="26" />
						<path id="Rectangle-1_2_" class="st1" d="M48,0C45.4,0,17.9,0,2.6,0C1.3,0,0,1.3,0,2.6v3.9h51.9c0,0,0,6,0-2.6
			C51.9,1.3,50.6,0,48,0z" />
						<path id="Rectangle-1_1_" class="st6" d="M0,26c0,0,0,0,0,2.6c0,2.6,1.3,3.9,3.9,3.9c14.5,0,41.5,0,44.1,0s3.9-1.3,3.9-3.9V26H0z" />
						<path id="Shape" class="st1" d="M36.2,9.7c-0.7-0.3-1.9-0.6-3.3-0.6c-3.6,0-6.2,1.9-6.2,4.5c0,2,1.8,3.1,3.2,3.7
			c1.4,0.7,1.9,1.1,1.9,1.7c0,0.9-1.1,1.3-2.2,1.3c-1.5,0-2.3-0.2-3.5-0.7l-0.5-0.2l-0.5,3.1c0.9,0.4,2.4,0.7,4.1,0.7
			c3.9,0,6.4-1.8,6.4-4.7c0-1.6-1-2.8-3.1-3.7c-1.3-0.6-2.1-1.1-2.1-1.7c0-0.6,0.7-1.2,2.1-1.2c1.2,0,2.1,0.2,2.7,0.5l0.3,0.2
			L36.2,9.7" />
						<path id="Shape_1_" class="st1" d="M45.6,9.3h-2.8c-0.9,0-1.5,0.2-1.9,1.1l-5.5,12.6h3.9c0,0,0.6-1.7,0.8-2.1c0.4,0,4.2,0,4.7,0
			c0.1,0.5,0.4,2.1,0.4,2.1h3.4L45.6,9.3L45.6,9.3z M41.1,18.2c0.3-0.8,1.5-3.8,1.5-3.8c0,0,0.3-0.8,0.5-1.3l0.2,1.2
			c0,0,0.7,3.3,0.9,4L41.1,18.2L41.1,18.2L41.1,18.2L41.1,18.2z" />
						<path id="Shape_2_" class="st1" d="M19.2,23.1l2.3-13.8h3.7l-2.3,13.8H19.2z" />
						<path id="Shape_3_" class="st1" d="M16.1,9.3l-3.6,9.4l-0.4-1.9C11.5,14.6,9.4,12.2,7,11l3.3,12l3.9,0L20,9.3H16.1" />
						<path id="Shape_4_" class="st6" d="M9.2,9.3H3.3l0,0.3c4.6,1.1,7.7,3.9,8.9,7.2l-1.3-6.3C10.6,9.6,10,9.4,9.2,9.3" />
					</g>
				</g>
				<g id="Page-1_2_">
					<g id="american-express" transform="translate(-1.000000, 0.000000)">
						<path id="Rectangle-1_3_" class="st7" d="M168.3,0c-2.6,0-30.1,0-45.4,0c-1.3,0-2.6,1.3-2.6,2.6v26c0,2.6,1.3,3.9,3.9,3.9
			c14.5,0,41.5,0,44.1,0s3.9-1.3,3.9-3.9V3.9C172.1,1.3,170.8,0,168.3,0z" />
						<path id="Shape_5_" class="st4" d="M124.6,11.9l-1-2.4l-1,2.4H124.6z M146.8,10.9c-0.2,0.1-0.4,0.1-0.7,0.1h-1.8V9.7h1.8
			c0.3,0,0.5,0,0.7,0.1c0.2,0.1,0.3,0.3,0.3,0.5C147.1,10.6,147,10.8,146.8,10.9C146.8,10.9,147,10.8,146.8,10.9L146.8,10.9
			L146.8,10.9z M159.5,11.9l-1-2.4l-1,2.4H159.5L159.5,11.9L159.5,11.9L159.5,11.9z M135.8,14.5h-1.5l0-4.8l-2.1,4.8h-1.3l-2.1-4.8
			v4.8h-3l-0.6-1.4h-3.1l-0.6,1.4h-1.6l2.6-6.1h2.2l2.5,5.8V8.4h2.4l1.9,4.2l1.8-4.2h2.4L135.8,14.5L135.8,14.5L135.8,14.5
			L135.8,14.5z M141.8,14.5h-4.9V8.4h4.9v1.3h-3.4v1.1h3.4V12h-3.4v1.2h3.4V14.5L141.8,14.5L141.8,14.5L141.8,14.5z M148.7,10
			c0,1-0.7,1.5-1,1.6c0.3,0.1,0.6,0.3,0.7,0.5c0.2,0.3,0.2,0.6,0.2,1.1v1.2h-1.5l0-0.8c0-0.4,0-0.9-0.2-1.2
			c-0.2-0.2-0.5-0.3-1.1-0.3h-1.6v2.2h-1.5V8.4h3.4c0.8,0,1.3,0,1.8,0.3C148.4,9,148.7,9.4,148.7,10C148.7,10,148.7,9.4,148.7,10
			L148.7,10L148.7,10z M151,14.5h-1.5V8.4h1.5V14.5L151,14.5L151,14.5L151,14.5z M168.4,14.5h-2.1l-2.8-4.6v4.6h-3l-0.6-1.4h-3.1
			l-0.6,1.4h-1.7c-0.7,0-1.6-0.2-2.1-0.7c-0.5-0.5-0.8-1.2-0.8-2.3c0-0.9,0.2-1.7,0.8-2.4c0.5-0.5,1.2-0.7,2.2-0.7h1.4v1.3h-1.4
			c-0.5,0-0.8,0.1-1.1,0.4c-0.3,0.3-0.4,0.7-0.4,1.4c0,0.7,0.1,1.1,0.4,1.4c0.2,0.2,0.6,0.3,1,0.3h0.7l2.1-4.8h2.2l2.5,5.8V8.4h2.2
			l2.6,4.3V8.4h1.5V14.5L168.4,14.5L168.4,14.5L168.4,14.5z M119.9,15.7h2.5l0.6-1.4h1.3l0.6,1.4h4.9v-1l0.4,1h2.6l0.4-1.1v1.1h12.3
			l0-2.2h0.2c0.2,0,0.2,0,0.2,0.3v1.9h6.3v-0.5c0.5,0.3,1.3,0.5,2.4,0.5h2.7l0.6-1.4h1.3l0.6,1.4h5.1v-1.3l0.8,1.3h4.1V7.2h-4.1v1
			l-0.6-1h-4.2v1l-0.5-1h-5.7c-0.9,0-1.8,0.1-2.5,0.5V7.2h-3.9v0.5c-0.4-0.4-1-0.5-1.7-0.5h-14.3l-1,2.2l-1-2.2H126v1l-0.5-1h-3.8
			l-1.8,4.1L119.9,15.7L119.9,15.7z M172.2,20.3h-2.7c-0.3,0-0.4,0-0.6,0.1c-0.2,0.1-0.2,0.2-0.2,0.4c0,0.2,0.1,0.4,0.3,0.5
			c0.2,0.1,0.3,0.1,0.6,0.1l0.8,0c0.8,0,1.3,0.2,1.7,0.5c0.1,0,0.1,0.1,0.1,0.2V20.3z M172.2,24.3c-0.4,0.5-1.1,0.8-2,0.8h-2.8v-1.3
			h2.8c0.3,0,0.5,0,0.6-0.2c0.1-0.1,0.2-0.2,0.2-0.4c0-0.2-0.1-0.3-0.2-0.4c-0.1-0.1-0.3-0.1-0.5-0.1c-1.4,0-3.1,0-3.1-1.9
			c0-0.9,0.6-1.8,2.1-1.8h2.9v-1.2h-2.7c-0.8,0-1.4,0.2-1.8,0.5v-0.5h-4c-0.6,0-1.4,0.2-1.8,0.5v-0.5h-7.2v0.5
			c-0.6-0.4-1.5-0.5-2-0.5h-4.7v0.5c-0.5-0.4-1.5-0.5-2.1-0.5h-5.3l-1.2,1.3l-1.1-1.3h-7.9v8.6h7.8l1.2-1.3l1.2,1.3l4.8,0v-2h0.5
			c0.6,0,1.4,0,2-0.3v2.3h4v-2.2h0.2c0.2,0,0.3,0,0.3,0.3v2h12c0.8,0,1.6-0.2,2-0.5v0.5h3.8c0.8,0,1.6-0.1,2.2-0.4V24.3L172.2,24.3
			L172.2,24.3L172.2,24.3z M166.3,21.9c0.3,0.3,0.4,0.7,0.4,1.3c0,1.3-0.8,1.9-2.3,1.9h-2.9v-1.3h2.8c0.3,0,0.5,0,0.6-0.2
			c0.1-0.1,0.2-0.2,0.2-0.4c0-0.2-0.1-0.3-0.2-0.4c-0.1-0.1-0.3-0.1-0.5-0.1c-1.4,0-3.1,0-3.1-1.9c0-0.9,0.6-1.8,2.1-1.8h2.9v1.3
			h-2.7c-0.3,0-0.4,0-0.6,0.1c-0.2,0.1-0.2,0.2-0.2,0.4c0,0.2,0.1,0.4,0.3,0.5c0.2,0.1,0.3,0.1,0.6,0.1l0.8,0
			C165.4,21.4,166,21.5,166.3,21.9C166.3,21.9,166,21.5,166.3,21.9L166.3,21.9L166.3,21.9z M153,21.5c-0.2,0.1-0.4,0.1-0.7,0.1h-1.8
			v-1.4h1.8c0.3,0,0.5,0,0.7,0.1c0.2,0.1,0.3,0.3,0.3,0.6C153.3,21.2,153.2,21.4,153,21.5C153,21.5,153.2,21.4,153,21.5L153,21.5
			L153,21.5z M153.9,22.3c0.3,0.1,0.6,0.3,0.7,0.5c0.2,0.3,0.2,0.6,0.2,1.1v1.2h-1.5v-0.8c0-0.4,0-0.9-0.2-1.2
			c-0.2-0.2-0.5-0.3-1.1-0.3h-1.6v2.2h-1.5V19h3.4c0.7,0,1.3,0,1.8,0.3c0.5,0.3,0.8,0.7,0.8,1.4C155,21.6,154.3,22.1,153.9,22.3
			C153.9,22.3,154.3,22.1,153.9,22.3L153.9,22.3L153.9,22.3z M155.8,19h4.9v1.3h-3.4v1.1h3.4v1.3h-3.4v1.2l3.4,0v1.3h-4.9V19
			L155.8,19L155.8,19L155.8,19z M145.9,21.8H144v-1.6h1.9c0.5,0,0.9,0.2,0.9,0.8C146.8,21.5,146.4,21.8,145.9,21.8L145.9,21.8
			L145.9,21.8L145.9,21.8z M142.5,24.5l-2.3-2.5l2.3-2.4V24.5L142.5,24.5L142.5,24.5L142.5,24.5z M136.7,23.8h-3.6v-1.2h3.2v-1.3
			h-3.2v-1.1h3.7l1.6,1.8L136.7,23.8L136.7,23.8L136.7,23.8L136.7,23.8z M148.4,21c0,1.7-1.3,2.1-2.6,2.1H144v2.1h-2.9l-1.8-2
			l-1.9,2h-5.8V19h5.9l1.8,2l1.9-2h4.7C147.1,19,148.4,19.3,148.4,21C148.4,21,148.4,19.3,148.4,21L148.4,21L148.4,21z" />
					</g>
				</g>
			</svg>
		</div>
		<EditForm OnValidSubmit="@FormSubmit" Model="@accountOptions">
			<DataAnnotationsValidator />
			<ValidationSummary />

			<div class="form-inputs">
				<div class="form-input">
					<input id="cardholderMame" class="form-input-name" type="text" placeholder="Name"
						   @bind="accountOptions.CardHolderName">
				</div>
				<div class="form-input">

					<input id="amount" class="form-input-amount" type="text" placeholder="Amount to pay"
						   @bind="accountOptions.Amount" />
				</div>

				<div class="form-input">

					<input id="cardNum" class="form-input-number" type="text" placeholder="Card number"
						   @bind="accountOptions.CardNumber" />
				</div>
				<div class="form-input date">

					<input id="cardExpiryMo" class="form-input-month " type="text" maxlength="2"
						   placeholder="MM"
						   @bind="accountOptions.CardExpiryMonth" />
					<span>/</span>
					<input class="form-input-month " type="text" maxlength="2" placeholder="YY"
						   @bind="accountOptions.CardExpiryYear" />
				</div>

				<div class="form-input cvc">

					<input id="cardCvc" class="form-input-cvc" type="text" placeholder="CVC" maxlength="4"
						   @bind="accountOptions.CardCvc" />
				</div>
			</div>
			@if (!submited)
			{
				<div class="form-button">
					<button type="submit">Submit</button>

				</div>
				<div class="description">@description</div>

			}
		</EditForm>

	</div>
</section>*@

@code {
	//private StripeSetting accountOptions11 = new StripeSetting();
	//private CardModel accountOptions = new CardModel();
	//private bool submited = false;
	//private string description = "";

	//private async Task FormSubmit()
	//{
	//	try
	//	{
	//		var optionToken = new TokenCreateOptions
	//			{
	//				Card = new TokenCardOptions
	//				{
	//					Number = accountOptions.CardNumber,
	//					Cvc = accountOptions.CardCvc.ToString(),
	//					ExpMonth = accountOptions.CardExpiryMonth,
	//					ExpYear = accountOptions.CardExpiryYear
	//				}
	//			};
	//		var serviceToken = new TokenService();
	//		Token stripeToken = await serviceToken.CreateAsync(optionToken);
	//		var option = new ChargeCreateOptions
	//			{ 
	//				Amount = Int32.Parse(accountOptions.Amount),
	//				Currency = "usd",
	//				Description = $"A payment from {accountOptions.CardHolderName}",
	//				Source = stripeToken.Id
	//			};
	//		var service = new ChargeService();
	//		Charge charge = await service.CreateAsync(option);
	//		if (charge.Paid)
	//		{
	//			accountOptions.CardCvc = null;
	//			accountOptions.CardHolderName = "";
	//			accountOptions.Amount = "";
	//			accountOptions.CardNumber = "";
	//			accountOptions.CardExpiryMonth = null;
	//			accountOptions.CardExpiryYear = null;
	//			submited = true;
	//			description = "success";
	//		}

	//		else
	//			description = "failed";
	//	}
	//	catch (StripeException ex)
	//	{
	//		description = ex.Message;
	//	}

	//}

}
